<%- include('header');  %> 
    <div class="box" id="heading">
      <h1>ToDo List Web Application</h1>
      <h6><%= page %></h6>
    </div>
    <div class="box">
      <form class="item" action="/" method="post">
        <input
          autocomplete="off"
          type="text"
          name="todo"
          id="todo"
          placeholder="Add item"
        />
        <button type="submit" name="list" value="<%= page %>">+</button>
      </form>
      <div class="items-container">
        <% liItem.forEach((item)=>{ %>
        <div class="item"><p><%= item %></p></div>
        <% }) %>
        <!-- form -->
      </div>
    </div>
 <%- include ('footer'); %> 
 