<%- include('./partials/header');  %> 
    <div class="box" id="heading">
      <h1>ToDo List Web Application</h1>
      <h6><%= page %></h6>
    </div>
    <div class="box">
      <form class="item" action="/" method="post">
        <input
          autocomplete="off"
          type="text"
          name="todo"
          id="todo"
          placeholder="Add item"
        />
        <button id="submit_btn" type="submit" name="list" value="<%= page %>">+</button>
      </form>
      <div class="items-container">
        <% liItem.forEach((item)=>{ %>
        <div class="item"><p><%= item.name %></p> <input class='dlt-btn' type='submit' value="delete" />  </div>
        <% }) %>
        <!-- form -->
      </div>
    </div>
    <!-- <script src="js/index.js"></script> -->
 <%- include ('./partials/footer'); %> 
 